.card{
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: #AFC3CE;
}

#add-button{
    float: right;
    margin: 10px 10px 10px 10px;
}

#fooddiary-button{
  float: right;
  margin: 10px 10px 10px 10px;
}
  

span {
    font-size: 40px;
  }
  
span:hover {
    font-weight: 900;
  }