<div>
    <form [formGroup] = "clientForm">
          
          <mat-form-field appearance="fill" style="margin: 1px 10px 1px 10px">
            <mat-label>Full name</mat-label>
            <input matInput id="fullName" type="text" formControlName="fullName">
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-form-field appearance="fill" style="margin: 1px 10px 1px 10px">
            <mat-label>Age</mat-label>
            <input matInput id="age" type="text" formControlName="age">
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-form-field appearance="fill" style="margin: 1px 10px 1px 10px">
            <mat-label>Gender</mat-label>
            <input matInput id="gender" type="text" formControlName="gender">
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-form-field appearance="fill" style="margin: 1px 10px 1px 10px">
            <mat-label>Height</mat-label>
            <input matInput id="height" type="text" formControlName="height">
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-form-field appearance="fill" style="margin: 1px 10px 1px 10px">
            <mat-label>Weight</mat-label>
            <input matInput id="weight" type="text" formControlName="weight">
          </mat-form-field>

          <div>
        <button mat-raised-button color="primary" style="margin: 10px 10px 10px 10px" type="submit" (click)="onSubmit()">Save</button>
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
    </form>
    
</div>