<p>fooddiary works!</p>

<div class="center">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Food</th>
                <th>Client</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diary of fooddiary">
                <td> {{ diary.id }}</td>
                <td> {{ diary.food.nameOfFood }}</td>
                <td> {{ diary.client.fullName }}</td>
                <td> {{ diary.quantityInGrams }}</td>
                <td>
                    <button (click)="update()"> UPDATE </button>
                    <button (click)="delete()"> DELETE </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>